<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation de l'API tecCharleroiCentral</title>
    <!-- Intégration de Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Documentation de l'API tecCharleroiCentral</h1>
        <p>Cette API retourne les arrêts de bus dans la zone autour de Charleroi. Voici un exemple de sortie :</p>
        <pre>
{
  "arret_autour_zone": [
    {"stop_id": "Cchalou2", "stop_name": "CHARLEROI Alouette", "stop_coordinates": {"lon": 4.462639, "lat": 50.428644}},
    {"stop_id": "Cchcase2", "stop_name": "CHARLEROI Casernes", "stop_coordinates": {"lon": 4.450226, "lat": 50.409832}},
    {"stop_id": "Cchcime1", "stop_name": "CHARLEROI Cimeti\u00e8re", "stop_coordinates": {"lon": 4.455975, "lat": 50.424977}},
    {"stop_id": "Cchmott1", "stop_name": "CHARLEROI Motte", "stop_coordinates": {"lon": 4.461992, "lat": 50.425832}},
    {"stop_id": "Cchoues4", "stop_name": "CHARLEROI Ouest", "stop_coordinates": {"lon": 4.438935, "lat": 50.412023}}
    <!-- Autres arrêts... -->
  ]
}
        </pre>
        <p>Pour obtenir les données des arrêts de bus autour de Charleroi, veuillez accéder à l'URL <code>/tecCharleroiCentral/</code> de votre API.</p>
    </div>

    <!-- Intégration de Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
